@font-face {
    font-family: EuroBold;
    src: url(./EurostileLTProUnicode-Bold.otf);
}

@font-face {
    font-family: EuroDemi;
    src: url(./EurostileLTProUnicode-Demi.otf);
}

@font-face {
    font-family: Euro;
    src: url(./EurostileLTProUnicode.otf);
}

body {
    margin: 0;
}

navbar {
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

navbar a img {
    height: 8vw;
    margin-top: 1vw;
    transition: transform 0.2s ease-in-out;
}

navbar a img:hover{
    transform: scale(1.15);
    cursor: pointer;
}

.page1 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

video {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.heading {
    font-family: Euro;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 38%;
    left: 13%;
    width: fit-content;
}

.head1,
.head2 {
    margin: 0vw 0;
}

.heading h1 {
    font-size: 6vw;
    color: #f0f0f0;
    text-shadow: 6px 6px 10px rgba(0, 0, 0, 1);
    text-align: center;
    letter-spacing: .8vw;
    text-transform: uppercase;
}



.heading button {
    position: relative;
    
    background: linear-gradient(120deg, #1c8303, #028011);
    color: #fff;
    font-size: 1.8vw;
    border: none;
    font-family: EuroDemi;
    padding: .8vw 1.7vw;
    border-radius: 1.5rem;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
    /* Changed 'size' to 'transform' */
}

.heading button:hover {
    background: linear-gradient(135deg, #67df04, #2fdb04c3);
    /* Corrected rad to deg */
    
}

.main-nav{
    position: absolute;
    top: 10vw;
    left: -35vw;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 45vw;
    z-index: 2;
    display: none;
}

.main-nav a {
    text-decoration: none;
    color: #fff;
    letter-spacing: .6vw;
    font-size: 3.6vw;
    font-weight: bolder;
    /* margin-bottom: 2vw; */
    font-family: EuroDemi;
    transition: color 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.main-nav a:hover {
    color: #6af249;
    font-size: 3.8vw;
    cursor: pointer;
}

.page1 {
    /* Other styles */
    transition: filter 0.2s ease-in-out;
    /* Adds a smooth transition for the blur effect */
}





.main-nav {
    display: none;
    flex-direction: column;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    /* Animation for opacity and transform */
}

.page2 {
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(135deg, #d0f7b1, #9df187c3);
}

.main-heading h1{
    margin: 0;
}