<% layout('/layouts/bt') %>
  <body>
    
    <h3>All Healing Sessions</h3>
    <!-- <form method="GET" action="/healings/new">
      <button>Create New Healing Session</button>
    </form> -->
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
        <% for(let healing of allHealings) { %>
            <a href="/healings/<%= healing._id %>" class="listing-link">
            <div class="card" >
                <img src="<%= healing.image.url %>" class="card-img-top" alt="healing_image" style="height:20rem">
                <div class="card-img-overlay"></div>
                <div class="card-body">
                  <div class="row">
                  <p class="card-text col-md-8"><b><%= healing.title %></b> <br>
                    <%= healing.price %>
                  </p>
                  <form method="GET" action="http://localhost:3030/groupvideo" class="col-md-4 z-3">
                    <button class="btn btn-outline-danger mt-3 mb-5 add-btn pr-3 pl-3">Start Call</button>
                  </form>
                  </div>
                </div>
            </div>
            </a>
        <% } %>
    </div>

  </body>
