<% layout('/layouts/boilerplate') %>
<body>
    <div class="loader">
        <h1>LET'S</h1>
        <h1>TAKE</h1>
        <h1>A</h1>
        <h1>DEEP</h1>
        <h1>BREATH</h1>
    </div>
    <div id="main" class="main">
        <div class="page1 page" id="home">
            <video src="landingpage//assets/landing video.mp4" autoplay muted loop></video>
            <div class="heading">
                <div class="head11"><h1 class="head1">Your Path to</h1></div>
                <div class="head22"><h1 class="head2">Mental Wellness</h1></div>
                <a href="/signup" id="transition-link" class="btn12">Get Started</a>
            </div>
        </div>
        
        <div class="page2 pg page" id="page2">
            <video id="page2v" src="landingpage/assets/page2 video - Made with Clipchamp.mp4" autoplay muted loop></video>
            <div class="heading page2head">
                <div class="main-head">
                    <h1 id="zig-element">WHAT</h1><h1 id="zig-element">IS</h1><h1 id="zig-element">MOOD</h1><h1 id="zig-element">MAP</h1><h1 id="zig-element">?</h1>
                </div>
                <div class="main-para" id="zig-element">
                    <p>
                        <b>Mood Map</b> is a comprehensive, free, and open-source tool designed to help people understand and navigate their emotional landscape. It offers a visual representation of their emotions, along with suggestions for self-care and support. Mood Map is a powerful tool that can help individuals identify their emotional state, improve their mood, and manage their stress and anxiety.At <b>Mood Map</b>, we believe taking care of your mind should be easy, accessible, and compassionate—because your well-being matters
                    </p>
                </div>
            </div>
        </div>
        
        <div class="page4 pg page" id="page4v">
            <video src="landingpage/assets/page4 video - Made with Clipchamp.mp4" autoplay muted loop></video>
            <div class="racesWrapper1">
                <div class="races1">
                    <a class="pg4con">
                        <div class="card">
                            <div class="img-cont">
                                <img src="landingpage/assets/Login Page/Screenshot (339).png" alt="Example 1">
                            </div>
                            <div class="desc">
                                <h2>Dashboard</h2>
                                <p>This is an example of a mood card. It shows a picture of a person with a happy face and a smiling mouth. The card has a title, a description, and a link to a video or article that provides more information about the person's mood.</p>
                            </div>
                        </div>
                    </a>
                    
                    <a class="pg4con">
                        <div class="card">
                            <div class="img-cont">
                                <img src="landingpage/assets/Healing-huddles-pic-1.jpg" alt="Example 1">
                            </div>
                            <div class="desc">
                                <h2>Healing Huddles</h2>
                                <p>This is an example of a mood card. It shows a picture of a person with a happy face and a smiling mouth. The card has a title, a description, and a link to a video or article that provides more information about the person's mood.</p>
                            </div>
                        </div>
                    
                    </a>
                </div>
           </div>
        </div>
        <div class="page3 pg page" id="page3v">
            <video src="landingpage/assets/page3video - Made with Clipchamp.mp4" autoplay muted loop></video>
            <div class="racesWrapper">
                <div class="races">
                    
                    <a class="pg4con">
                        <div class="card">
                            <div class="img-cont">
                                <img src="https://www.stylecraze.com/wp-content/uploads/2013/03/1868-What-Is-Yoga-And-What-Are-Its-Benefits-ss.jpg" alt="Example 1">
                            </div>
                            <div class="desc">
                                <h2>Mediation and Yoga</h2>
                                <p>This is an example of a mood card. It shows a picture of a person with a happy face and a smiling mouth. The card has a title, a description, and a link to a video or article that provides more information about the person's mood.</p>
                            </div>
                        </div>
                    </a>
                    <a class="pg4con">
                        <div class="card">
                            <div class="img-cont">
                                <img src="landingpage/assets/Login Page/Screenshot (339).png" alt="Example 1">
                            </div>
                            <div class="desc">
                                <h2>Quizzes</h2>
                                <p>This is an example of a mood card. It shows a picture of a person with a happy face and a smiling mouth. The card has a title, a description, and a link to a video or article that provides more information about the person's mood.</p>
                            </div>
                        </div>
                    </a>
                    
                </div>
           </div>
        </div>
        
</div>     
    </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>
