<% layout('/layouts/bt') %>
<body>
    <div class="row">
        <div class="card border border-success rounded m-3" style="width: 18rem;  ">
            <a href="https://youtu.be/2MJGg-dUKh0?si=Blp4E_s95spvpkpE" style="text-decoration: none; color: inherit;">
                <img src="https://www.shutterstock.com/image-vector/wide-childs-pose-prasarita-balasana-600nw-2086235617.jpg" class="card-img-top" alt="..." >
                <div class="card-body">
                    <p class="card-text">Child's Pose (Balasana)</p>
                </div>
            </a>
        </div>
        
        <div class="card border border-success rounded m-3" style="width: 18rem;">
            <img src="https://www.shutterstock.com/image-vector/man-doing-adho-mukha-svanasana-600nw-2179964363.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Downward-Facing Dog (Adho Mukha Svanasana)</p>
            </div>
        </div>
        <div class="card border border-success rounded m-3" style="width: 18rem;">
            <img src="https://media.yogauonline.com/app/uploads/2023/07/09234339/0-Legs-up-the-Wall-Pose-or-Viparita-Karani-a-restorative-yoga-pose.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Legs-Up-the-Wall Pose (Viparita Karani)</p>
            </div>
        </div>
        <div class="card border border-success rounded m-3" style="width: 18rem;">
            <img src="https://www.shutterstock.com/image-vector/man-doing-adho-mukha-svanasana-600nw-2179964363.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Downward-Facing Dog (Adho Mukha Svanasana)</p>
            </div>
        </div>
        <div class="card border border-success rounded m-3" style="width: 18rem;">
            <img src="https://www.shutterstock.com/image-vector/man-doing-adho-mukha-svanasana-600nw-2179964363.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Downward-Facing Dog (Adho Mukha Svanasana)</p>
            </div>
        </div>
        <div class="card border border-success rounded m-3" style="width: 18rem;">
            <img src="https://www.shutterstock.com/image-vector/man-doing-adho-mukha-svanasana-600nw-2179964363.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Downward-Facing Dog (Adho Mukha Svanasana)</p>
            </div>
        </div>
        <div class="card border border-success rounded m-3" style="width: 18rem;">
            <img src="https://www.shutterstock.com/image-vector/man-doing-adho-mukha-svanasana-600nw-2179964363.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Downward-Facing Dog (Adho Mukha Svanasana)</p>
            </div>
        </div>
        <div class="card border border-success rounded m-3" style="width: 18rem;">
            <img src="https://www.shutterstock.com/image-vector/man-doing-adho-mukha-svanasana-600nw-2179964363.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Downward-Facing Dog (Adho Mukha Svanasana)</p>
            </div>
        </div>
        <div class="card border border-success rounded m-3" style="width: 18rem;">
            <img src="https://www.shutterstock.com/image-vector/man-doing-adho-mukha-svanasana-600nw-2179964363.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Downward-Facing Dog (Adho Mukha Svanasana)</p>
            </div>
        </div>
        <div class="card border border-success rounded m-3" style="width: 18rem;">
            <img src="https://www.shutterstock.com/image-vector/man-doing-adho-mukha-svanasana-600nw-2179964363.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Downward-Facing Dog (Adho Mukha Svanasana)</p>
            </div>
        </div>
    </div>
</body>